# Learing Python

## Arithmetic

In [22]:
# Add 3 and 4
3 + 4

7

In [1]:
# Divide 6 by 2
6 / 2

3.0

In [24]:
# Subtract 100 from 1000
1000 - 100

900

In [25]:
# Multiply 8 by 3
8 * 3

24

In [26]:
# Raise 2 to the 10th power
2 ** 10

1024

In [27]:
100 / 3

33.333333333333336

In [28]:
type(100 / 3)

float

In [29]:
#calculate 100 divided by 3 but do integer division
100 // 3

33

In [30]:
# Calculate 100 divided by 3 but return the remainder
100 % 3

1

\frac{(6 + 2) \times 2}{10} \\ \\
\Latex \\ \\
$$

In [31]:
# divide the product of 6 + 4 times 2 by 10
(6 + 4) * 2 / 10

2.0

In [32]:
True

True

In [33]:
True + False

1

## Python Data Types

In [34]:
type(3)

int

In [35]:
type(3.0)

float

In [36]:
3 == 3.0

True

In [37]:
type(1 + 1j)

complex

In [38]:
type('python')

str

In [39]:
type("python")

str

In [41]:
print("Hello this is 'python'")

Hello this is 'python'

In [42]:
# Convert "8" to an integer
int("8")

8

## Varibles

In [44]:
# Assign the string "I love python" to the varible "my_variable"
my_variable = "I love python"
my_variable

'I love python'

In [46]:
# Assing the number 7 to the varible i
i = 7
i

7

In [47]:
# Add 1 to "i" and reassign it to "i"
i = i + 1
i

8

## Control of flow

In [48]:
# Use the "range" funtion to create a list of integers from 0 to 9
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
type(list(range(10)))

list

### `for` loops

In [53]:
# Create a for loop to print integers from 0 to 9
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [54]:
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

### `If` statement

In [58]:
# Create an if else statement to print "The value is larger than 5" if the value is larger than 5 and if the value is not larger than 5 then print "This value is not larger than 5"
i = 2
if i > 5:
    print("Bigger than 5")
else:
    print("Not bigger than 5")

Not bigger than 5